<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:layout="">
<head>
    <meta charset="UTF-8">
    <title>Add New Review</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-200">

<div th:replace="navbar"></div>

<div class="container mx-auto py-8">
    <h2 class="text-2xl font-bold mb-4">Add New Review</h2>
    <form class="max-w-md bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" action="#" th:action="@{/reviews/add}" th:object="${review}" method="post">
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="title">Title:</label>
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="title" type="text" th:field="*{title}">
        </div>
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="message">Message:</label>
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="message" type="text" th:field="*{message}">
        </div>
        <div class="flex items-center justify-between">
            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">Add Review</button>
        </div>
    </form>
    <a class="text-blue-500" href="/reviews">Back to Reviews</a>
</div>
</body>
</html>
