<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<html xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Review App</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.css" rel="stylesheet" />
    <head>
        <!-- Include Thymeleaf attributes and external libraries if needed -->
        <script th:inline="javascript">
            /*<![CDATA[*/

            document.addEventListener('DOMContentLoaded', function () {
                var likeForm = document.getElementById('likeForm');
                var likeButton = document.getElementById('likeButton');

                // Check if the item is liked in localStorage
                var isLiked = localStorage.getItem('liked');

                if (isLiked === 'true') {
                    likeButton.classList.add('liked');
                }

                likeForm.addEventListener('submit', function (event) {
                    event.preventDefault();
                    // Add logic here to handle the form submission if needed

                    // Toggle a CSS class to change the color
                    likeButton.classList.toggle('liked');

                    // Update the liked state in localStorage
                    var currentState = likeButton.classList.contains('liked');
                    localStorage.setItem('liked', currentState.toString());
                });

            });

            /*]]>*/
        </script>

        <style>
            .liked {
                color: red; /* You can adjust this to your desired color */
            }
        </style>
    </head>
</head>
<body>

<div th:replace="navbar"></div>

<div th:if="${success}" class="p-4 my-10 mx-20 text-sm text-green-800 rounded-lg bg-green-50 dark:bg-gray-800 dark:text-green-400" role="alert">
    <span class="font-medium" th:text="${success}"></span>
</div>

<section class="bg-gray-50">
    <div class="mx-auto max-w-screen-2xl px-4 py-12 sm:px-6 lg:px-8 lg:py-16">
        <div class="md:flex md:items-end md:justify-between">
            <div class="max-w-xl">
                <h2 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-5xl">
                    Read trusted reviews from our customers
                </h2>
                <p class="mt-6 max-w-lg leading-relaxed text-gray-700">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur praesentium natus
                    sapiente commodi. Aliquid sunt tempore iste repellendus explicabo dignissimos placeat,
                    autem harum dolore reprehenderit quis! Quo totam dignissimos earum.
                </p>
            </div>

            <a
                    href="#"
                    class="mt-6 inline-flex shrink-0 items-center gap-2 rounded-full border border-rose-600 px-5 py-3 text-rose-600 transition hover:bg-rose-600 hover:text-white md:mt-0"
            >
                <span class="font-medium"> Read all reviews </span>

                <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="h-4 w-4 rtl:rotate-180"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke="currentColor"
                >
                    <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M14 5l7 7m0 0l-7 7m7-7H3"
                    />
                </svg>
            </a>
        </div>

        <div class="mt-8 grid grid-cols-1 gap-4 md:grid-cols-3">
            <blockquote th:each="review: ${reviews}" class="flex h-full flex-col justify-between bg-white p-6 shadow-sm sm:p-8">
                <div>
                    <div class="flex gap-0.5 text-green-500">

                        <form id="likeForm"  th:action="@{/reviews/like/{id}(id=${review.id})}" method="post">
                            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />

                            <button type="submit"   id="likeButton">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12Z" />
                                </svg>
                            </button>
                        </form>

                    </div>

                    <div class="mt-4">
                        <p class="text-2xl font-bold text-rose-600 sm:text-3xl" th:text="${review.title}"></p>

                        <p class="mt-4 leading-relaxed text-gray-700" th:text="${review.message}">

                        </p>
                    </div>
                </div>

                <div class="flex justify-between sm:mt-6 mt-4">
                    <footer class="text-sm font-medium text-gray-700" th:text="${review.user.firstname + ' ' + review.user.lastname}">
                    </footer>
                    <div class="flex gap-2">
                        <form sec:authorize="hasAuthority('ADMINISTRATOR')" class="" action="#" th:action="@{/reviews/delete/{id}(id=${review.id})}" th:object="${review}" method="post">
                            <button><i class="fa-solid fa-trash bg-red-500 rounded-sm p-2 text-gray-200"></i></button>
                        </form>
                        <a sec:authorize="hasAuthority('ADMINISTRATOR') or hasAuthority('USER')" th:href="@{/reviews/edit/{id}(id=${review.id})}">
                            <i class="fa-solid fa-pen-to-square bg-green-500 rounded-sm p-2 text-gray-200"></i>
                        </a>
                        <form sec:authorize="hasAuthority('MODERATOR')" class="" action="#" th:action="@{/reviews/report/{id}(id=${review.id})}" th:object="${review}" method="post">
                            <button><i class="fa-solid fa-flag bg-yellow-500 rounded-sm p-2 text-gray-200"></i></button>
                        </form>
                    </div>
                </div>
            </blockquote>
        </div>
    </div>
</section>


</body>
</html>